body{
    font-family : sans-serif;
    -webkit-font-smoothing : antialiased;
    -webkit-backface-visibility: hidden;
}

body, main {
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    background-color: white;
}